*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
}
.app{
    display: flex;
    height: 100vh;
    background-color: #F3F6FD;
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
}
.logo{
    margin-bottom: 50px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.menu__list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.menu__item{
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
    border:none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    transition: .3s;
}  
.menu__item:hover{
    background: #6A6AFB;
}
.menu__item:hover img{
    filter: brightness(0) invert(1);
}
.menu__add{
    border-radius: 14px;
    border: 2px solid #CAD5FF;
    background: none;
    cursor:pointer;
    width: 45px;
    height: 45px;
    transition: .3s;
}
.menu__add:hover{
    border-color: #6A6AFB;
}
.menu__item_active{
    background-color: #5051F9;
}
.menu__item_active img{
    filter: brightness(0) invert(1);
}
.content{
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
    min-width: 900px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 235px;
    gap: 12px;
}
.progress__text{
    display: flex;
    justify-content: space-between;
}
.progress__percent{
    color: #737f92;
}
.progress__bar{
    height: 5px;
    border-radius: 4px;
    background: #E6E9ED;
    position: relative;
    width: 100%;
}
.progress__bar__cover{
    position:absolute;
    border-radius: 4px;
    background: #5051F9;
    height:5px;
    transition: .5s;
}
h1{
    font-size: 30px;
    font-weight: 600;
    margin:0;
}
main{
    margin-top: 40px;
}
.habbit{
    display: flex;
    background: #FFF;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
}
.habbit__day{
    min-width: 150px;
    background:#FBFAFF;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #E7EBFB;
    padding: 25px 45px;
    font-size: 14px;
    
}
.habbit__comment{
    padding: 25px 25px;
    font-size: 14px;
    font-weight: 600;
    color: #23235F;
}
.habbit__delete{
    padding: 2px;
    margin-left: auto;
    margin-right: 10px;
    background: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: .3s;
    align-self: center;
}
.habbit__delete:hover{
    background: #f3f3fd;
}
.habbit__form{
    display: flex;
    gap: 15px;
    padding: 0px 10px 0 20px;
    width: 100%;
    position: relative;
}
input{
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    font-family: Comfortaa;
    padding: 11px 45px;
    border-radius: 10px;
    border: 1px solid #E7EBFB;
    background: #FFF;
    outline: none;
    transition: .3s;
}
input::placeholder{
    color:#8899A8;
}
.input_icon{
    position: absolute;
    top: 10px;
    left: 40px;
}
.button{
    border-radius: 9px;
    background: #EDECFE;
    padding: 14px 32px;
    color: #5051F9;
    font-family: Comfortaa;
    font-size: 13px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: .3s;
}
.button:hover{
    background: #e0defa;
}
input.error{
    border: 1px solid rgb(241, 92, 92);
    transition: .3s;
}
.cover{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);    
}
.cover_hidden{
    display: none;
}
.popup{
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2{
    font-size: 24px;
    font-weight: 400;
}
.icon-label{
    color: #768396;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.popup__close{
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: none;
    cursor: pointer;
}
.icon-select{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.icon{
    border-radius: 14px;
    border: 1px solid #5051F9;
    background: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: .3s;
}

.icon_active{
    border-radius: 14px;
    border: 1px solid #5051F9;
    background: #5051F9;
    transition: .3s;
}
.icon_active img {
    filter: brightness(0) invert(1);
}
.icon:hover{
    background: #6A6AFB;
}
.icon:hover img{
    filter: brightness(0) invert(1);
}
.popup__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.popup__form input{
    width: 100%;
    padding: 10px 20px;
}